:root {
  --main-color: linear-gradient(135deg, #24262b, #32353c);
  --secondary-color: linear-gradient(135deg, #083f91, #1976d2);
  --secondaryhex-color: #083f91;
  --text-color: #ffffff;
  --title-color: #b0bec5;
  --buttons-color: #bbdefb;
  --buttons-hover: #0d47a1;
  --border: #424242;
  --secondary-containers: #333336;
  --beam: linear-gradient(to right, transparent 0%, #0d47a1 50%, #1976d2 100%);
}

@font-face {
  font-family: "Liber";
  src: url("./assets/Fonts/LiberGrotesqueFamily-Regular.woff2") format("woff2"),
    url("./assets/Fonts/LiberGrotesqueFamily-Regular.woff") format("woff"),
    url("./assets/Fonts/LiberGrotesqueFamily-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "hero";
  src: url(./assets/Fonts/Exodar-Outline.ttf) format("ttf"),
    url(./assets/Fonts/Exodar-Outline.woff) format("woff"),
    url(./assets/Fonts/Exodar-Outline.woff2) format("woff2");
}

@font-face {
  font-family: "slogan";
  src: url(./assets/Fonts/Bank\ Gothic\ Medium.ttf) format("ttf"),
    url(./assets/Fonts/Bank\ Gothic\ Medium.woff) format("woff"),
    url(./assets/Fonts/Bank\ Gothic\ Medium.woff2) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  background: var(--main-color);
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  width: 5px;
  border-radius: 200px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
  border: var(--secondaryhex-color) 0.3px solid;
}
body {
  background: var(--main-color);
  color: var(--text-color);
  overflow-x: hidden;
  font-family: "Liber", sans-serif;
}
html {
  scroll-behavior: smooth;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  font-size: 2.5vw;
  letter-spacing: 5px;
  margin: 20px 0;
}

.translatebtn {
  width: 80%;
  cursor: pointer;
  border: var(--secondaryhex-color) 2px solid;
  letter-spacing: 0.5px;
  color: var(--text-color);
  background: var(--main-color);
  border-radius: 50px;
  padding: 2px;
  transition: 0.6s;
}
.translatebtn:hover {
  background: var(--secondaryhex-color);
  border: var(--border) 2px solid;
  transition: 0.6s;
}
.translatebtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
}
img {
  max-width: 100%;
  display: block;
}
h1,
h2,
h3,
h4,
h5 {
  color: var(--title-color);
}
h2 {
  font-size: 2.5vw;
}
h3 {
  font-size: 1.5vw;
}

/* ------------------ LOADING ------------------------*/
#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

#loading-grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.grid-item {
  background: var(--main-color);
  transition: background-color 0.5s;
}

#page-title {
  position: absolute;
  color: white;
}

/* ------------------ ANIMATED BACKGROUND ------------------------*/

.bgAnimation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: #24262b;
  filter: saturate(2);
  overflow: hidden;
}

.colorBox {
  z-index: 3;
  filter: brightness(1.1);
  transition: 2s ease;
  position: relative;
  margin: 2px;
  background: #1d1d1d;
}

.colorBox:hover {
  background: #083f91;
  transition-duration: 0s;
}

.backgroundAmim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: blue;
  filter: blur(60px);
  animation: animBack 6s linear infinite;
}

@keyframes animBack {
  0% {
    top: -60px;
  }
  100% {
    top: 120%;
  }
}
/* ------------------------- MOBILE HAMBURGER -------------------------- */
.hamburgermenu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40%;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0;
  z-index: 9;
  border-radius: 0px 0px 25px 25px;
  
}

.hambtn {
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 10%;
  cursor: pointer;
  margin: 10px 0;
}

.hambtn span {
  position: absolute;
  width: 10%;
  height: 2px;
  background-color: white;
  transition: transform 0.6s, opacity 0.6s;
  border-radius: 25px;
}

.hambtn span:nth-child(1) {
  top: 25%;
}

.hambtn span:nth-child(3) {
  top: 75%;
}

.hambtn.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.hambtn.active span:nth-child(2) {
  opacity: 0;
}

.hambtn.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.hamitens {
  transition: 0.6s all ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  width: 100%;
  background: var(--main-color);
  border-radius: 25px;
  opacity: 0;
  
}
.hamitens.active {
  transition: all 0.6s ease;
  animation: slideIn 0.6s forwards;
  margin: 10px 0;
}
.hamitens ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80%;
  width: 80%;
  color: white;
  gap: 10px;
}
.hamitens ul li {
  display: flex;
  height: 10%;
  width: 100%;
}
.hamitens ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  color: white;
  border: var(--border) 2px solid;
  letter-spacing: 2px;
  border-radius: 25px;
  
}
.navbtnhamb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10%;
  width: 100%;
}
.hamitens button {
  height: 100%;
  width: 100%;
  background: var(--secondary-color);
  border-radius: 25px;
  border: 0;
  font-family: 'liber',sans-serif;
  letter-spacing: 0.5vw;
  
}

/* --------------------------- HEADER --------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

/* --------------------------- NAVBAR --------------------------- */

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  z-index: 3;
  background: var(--main-color);
  border-bottom: 2px solid var(--secondaryhex-color);
}
.navclick {
  transition: 0.6s;
}
.logoholder {
  display: block;
  width: 20%;
  height: 100%;
}
.logoholder img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
nav ul li a {
  position: relative;
  list-style: none;
  color: var(--text-color);
  text-transform: uppercase;
}

.navbar ul li a::after,
.showproject::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: var(--beam);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.navbar ul li a:hover::after,
.showproject:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.navcenter {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 1vw;
}
.links {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 10%;
  height: 100%;
  gap: 10px;
}
.links a {
  display: block;
  height: 100%;
  width: 100%;
  padding: 5px;
}
.links a:hover i {
  transition: 0.5s ease;
  transform: rotateY(360deg);
}
.navbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  height: 100%;
}

/* --------------------------- HERO --------------------------- */

.hero {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  pointer-events: none;
}

.title-hero {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 7vw;
  height: 50%;
  width: 100%;
}
.title-hero h1 {
  font-family: "hero", sans-serif;
  color: var(--text-color);
}
.slogan {
  display: flex;
  font-size: 2vw;
  height: 40%;
  width: 100%;
  align-items: start;
  justify-content: center;
}
.slogan h2 {
  color: var(--text-color);
  font-family: "slogan", sans-serif;
}

.gif {
  width: 10%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
}
.gif img{
  height: 80%;
  width: 80%;
  object-fit: contain;
 
}

/* --------------------------- ABOUT --------------------------- */

.about {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.container-about {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 80%;
  border: 2px solid var(--secondaryhex-color);
  border-radius: 25px;
  padding: 10px;
}
.title-about {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.title-about h1 {
  background-image: url(./assets/images/aboutgif.gif);
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  text-transform: uppercase;
  margin: 10px 0px;
  font-size: 16vw;
  animation: fade-in-bottom linear 2s both;
  animation-timeline: view();
  animation-range: entry;
  z-index: 2;
}
.introducao h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  white-space: pre-wrap;
  width: 100vw;
  height: 2vh;
  margin: 5px 0;

  color: var(--text-color);
}

#abouttxt {
  
  position: relative;
  font-family: monospace;
  height: 50%;
  width: 80%;
  background: transparent;
  color: var(--text-color);
  margin: 0 auto;
  text-align: start;
  line-height: 30px;
  font-size: 1.2vw;
  padding: 10px 0;
  margin: 10px 0;
}
#cursor {
  display: inline-block;
  animation: blink 1s step-start 0s infinite;
  position: absolute;
  color: var(--text-color);
}
@keyframes blink {
  50% {
    opacity: 0;
  }
}
.word {
  display: inline-block;
  white-space: nowrap; /* Ensure words don't break */
}
.letter {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease; /* Shorter transition duration */
}
/* --------------------------- SKILLS --------------------------- */

.skills {
  height: 60vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--secondary-containers);
  border: 2px solid var(--secondaryhex-color);
  
}

.container-skills {
  height: 80%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.skillsbg {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
.a1,
.a2,
.a3,
.a4,
.a5,
.a6 {
  display: flex;
  align-items: center;
  justify-content: start;
  position: absolute;
  width: 15%;
  height: 10%;
  font-size: 1.5vw;
  letter-spacing: 5px;
  z-index: 2;
  cursor: pointer;
}
.container-skills span {
  font-size: 0.8vw;
  width: 100%;
  position: absolute;
  top: 100%;
  letter-spacing: 1px;
  opacity: 0;
  transition: 0.9s;
}
.a1:hover span,
.a2:hover span,
.a3:hover span,
.a4:hover span,
.a5:hover span,
.a6:hover span {
  opacity: 1;
}
.a1:hover::after,
.a2:hover::after,
.a3:hover::after,
.a4:hover::after,
.a5:hover::after,
.a6:hover::after {
  transform: scaleX(0.8);
  transform-origin: bottom left;
  transition: 0.9s;
}
.a1::after,
.a2::after,
.a3::after,
.a4::after,
.a5::after,
.a6::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: var(--beam);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.a1 {
  top: 0;
  right: 5%;
  animation: slide-in-left ease both;
  animation-timeline: view();
  color: #e34f26;
  justify-content: end;
  
}

.a2 {
  top: 30%;
  right: 5%;
  animation: slide-in-left ease both;
  animation-timeline: view();
  color: #1572b6;
  justify-content: end;
}
.a3 {
  top: 50%;
  right: 5%;
  animation: slide-in-left ease both;
  animation-timeline: view();
  color: #f7df1e;
  justify-content: end;
}

.a4 {
  top: 0;
  left: 5%;
  animation: slide-in-right ease both;
  animation-timeline: view();
  color: #0acf83;
}
.a5 {
  top: 30%;
  left: 5%;
  animation: slide-in-right ease both;
  animation-timeline: view();
  color: #38bdf8;
}
.a6 {
  top: 50%;
  left: 5%;
  animation: slide-in-right ease both;
  animation-timeline: view();
  color: #646cff;
}

.skillsicon {
  width: 20%;
  height: 100%;
}
/* --------------------------- PROJECTS --------------------------- */
.projects {
  position: relative;
}
.container-projects {
  height: 120vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: var(--main-color);
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.tipbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 0.8vw;
  text-align: center;
  width: 10%;
  position: absolute;
  top: 7%;
  letter-spacing: 1px;
  opacity: 1;
  transition: 0.9s;
}
.tip {
  text-transform: uppercase;
  transition: 0.9s;
}

.tipbox:hover .tipcontent {
  transform: translateY(-10px);
  opacity: 1;
  transition: 0.9s;
}
.tipcontent {
  transition: 0.9s;
  transform: translateY(30px);
  opacity: 0;
}
.tipbox:hover .tip {
  transform: translateY(0px);
  opacity: 0;
  transition: 0.9s;
}
.project-name {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 5px;
  margin: 10px 0;
}
.card-content {
  height: 80%;
  width: 100%;
  padding: 10px;
}
.card-content a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  letter-spacing: 0.05vw;
}
.card-video {
  width: 80%;
  height: 80%;
}

.card-video video {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  object-fit: contain;
}
.card-content span {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 100%;
  height: 20%;
}
.card1,
.card2,
.card3,
.card4,
.card5 {
  display: flex;
  height: 80%;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-containers);
  border: var(--secondaryhex-color) 2px solid;
  position: sticky;
  top: 120px;
  animation: fadeincard ease 2s both;
  animation-timeline: view();
  animation-range: entry;
  border-radius: 25px;
  box-shadow: 10px 10px 10px black;
  cursor: pointer;
}
.card4,
.card5 {
  height: 85%;
}

.span1 {
  transition: 0.5s ease;
}
.card1:hover .span1,
.card2:hover .span1,
.card3:hover .span1,
.card4:hover .span1,
.card5:hover .span1 {
  transform: translateY(-50px);
  opacity: 0;
}
.showproject {
  position: absolute;
  bottom: 0;
  transition: 0.5s;
  padding: 10px;
  border-radius: 25px;
  opacity: 0;
  text-transform: capitalize;
  letter-spacing: 2px;
}

.card1:hover .showproject,
.card2:hover .showproject,
.card3:hover .showproject,
.card4:hover .showproject,
.card5:hover .showproject {
  transform: translateY(-25px);
  opacity: 1;
}

.card4 {
  z-index: 2;
  grid-column: 2/3;
}
.card5 {
  z-index: 2;
  grid-column: 3/4;
}

/* --------------------------- CONTACT--------------------------- */

.container-contact {
  height: 80vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  border: 2px solid var(--border);
  position: relative;
}
.contact-containers {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container-left {
  height: 100%;
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--secondary-containers);
  gap: 10px;
  border-radius: 25px;
}
.container-left h2 {
  width: 80%;
  height: 10%;
  text-align: start;
  color: white;
  letter-spacing: 5px;
  margin: 20px 0;
}
.container-left h3 {
  width: 80%;
  height: 30%;
  text-align: start;
  color: white;
  letter-spacing: 5px;
  line-height: 30px;
}
.email {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 80%;
  height: 20%;
  gap: 20px;
}
.email a {
  color: white;
  position: relative;
  letter-spacing: 2px;
  white-space: nowrap;
  font-size: 2vw;
}
.email a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.05em;
  bottom: 0;
  left: 0;
  background: var(--beam);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.email a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.container-right {
  height: 100%;
  width: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-containers);
  gap: 10px;
  border-radius: 25px;
}
.finalicons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 30%;
  width: 40%;
  gap: 10px;
  background: var(--main-color);
  margin: 5px;
  border-radius: 25px;
}

.finalicons a {
  color: white;
  font-size: 3.5vw;
  position: relative;
}
.finalicons a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.02em;
  bottom: 0;
  left: 0;
  background: var(--beam);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.finalicons a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.finalicons a:hover {
  color: var(--secondaryhex-color);
}
.finalme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 99%;
  width: 50%;
  background: var(--main-color);
  padding: 10px;
  margin: 5px;
  border-radius: 25px;
}
.finalmeimg {
  height: 40%;
  width: 60%;
  border-radius: 50%;
  border: 1px solid var(--border);
  margin: 10px 0;
}
.finalmeimg img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  border-radius: 50%;
}
.finalmetxt {
  height: 50%;
  width: 80%;
  margin: 20px 0;
}
.finalmetxt span
.finalmessage {
  height: 10%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vw;
  letter-spacing: 5px;
  margin: 20px 0;
}
.backtotop {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  position: absolute;
  bottom: 0;
  right: 0;
  border: transparent;
  background-color: transparent;
}

.backtotopbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  border: transparent;
  background-color: white;
  border-radius: 0;
  cursor: pointer;
}
.backtotop:hover {
  transform: scale(0.8);
  transition: 0.6s all;
}
.backtotop:hover .backtotopbtn {
  background-color: var(--secondary-containers);
  transition: 0.6s all;
}
.backtotopbtn i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondaryhex-color);
  border-radius: 25px;
  font-size: 2.5vw;
}
.backtotop:hover i {
  color: white;
  transform: scale(0.8);
  transition: 0.6s all;
}
.none {
  display: none;
}
/* --------------------------- ANIMATION --------------------------- */

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    
  }
}
@keyframes slide-in-right {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  80%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  80%{
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes fade-in-bottom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.1;
  }
}
@keyframes fadeincard {
  0% {
    opacity: 0;
    scale: 0.2;
  }
  80% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}



/* --------------------------- MEDIA QUERYS --------------------------- */

@media (max-width: 1440px) {

  .a1,
  .a2,
  .a3,
  .a4,
  .a5,
  .a6 {
    font-size: 1.2vw;
  }
}
@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .hamburgermenu {
    display: flex;
  }

  
  .container-projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .card4,
  .card5 {
    grid-column: auto;
  }
  .finalmetxt {
    overflow-x: scroll;
  }
}

@media (max-width: 768px) {
  .projects{
    height: auto;
  }
  .project-name {
    margin: 2px 0;
  }
  .card-video {
    width: 100%;
  }
  .card1,
  .card2,
  .card3,
  .card4,
  .card5 {
    height: 100%;
    width: 80%;
    margin: 20px;
  }
  .container-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }
  .container-contact {
    height: auto;
  }
  .contact-containers {
    flex-direction: column;
  }
  .container-left {
    width: 100%;
   
  }
  .container-right {
    width: 100%;
    
    flex-direction: column;
  }
  .finalme{
    height: 50%;
    width: 70%;
    padding: 0;
  }
  .finalmeimg{
    height: 40%;

  }
  .finalmetxt{
    height: 60%;	
    margin: 5px 0;
    overflow-y: scroll;
  }
  .finalicons {
    width: 30%;
    height: 50%;
  }
  .container-left h3 {
    
    line-height: 20px;
    letter-spacing: 1px;
  }
  .backtotop {
    opacity: 0.6;
  }
}
@media (max-width: 555px) {
 
}

@media (max-width: 425px) {



}

@media (max-width: 320px) {
}
